<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Admin/IdeaProjects/APIAutomation_RestAssured/src/test/java/org/CentricToAll1/Test/CRUD/DELETE">
        <classes>
            <class name="org.CentricToAll1.Test.CRUD.DELETE.NONBDDStyle4">
                <methods>
                    <include name="testNONBDDStylePositive"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>